/* Цветовая палитра */
$mainBackgroundColor: #e1f4f9; /* Цвет фона */
$secondBackGround: #FFFFFF;
$mainTextColor: #000000; /* Цвет основного текста */
$lightTextColor: #9197B3;
$colorSelect: #5932EA;
$colorTextSelect: #FFFFFF;
$inactiveBackground: #b77579;
$activeBackground: rgb(210, 245, 223);
$activeTextColor: rgb(66, 125, 101);
$inactiveTextColor: rgb(172, 16, 16);

/* Типография */
$fontFamily: 'Poppins'; /* Основной шрифт */
$fontSizeBase: 14px; /* Базовый размер шрифта */

$maxWidth: 1200px; /* Максимальная ширина контейнера */