/* Цветовая палитра */
$mainBackgroundColor: #e1f4f9; /* Цвет фона */
$secondBackGround: #FFFFFF;
$mainTextColor: #000000; /* Цвет основного текста */
$lightTextColor: #9197B3;
$colorSelect: #5932EA;
$colorTextSelect: #FFFFFF;
$inactiveBackground: #ae6c6c;
$activeBackground: rgb(119, 168, 119);
$activeTextColor: rgb(27, 104, 27);
$inactiveTextColor: rgb(134, 5, 5);

/* Типография */
$fontFamily: 'Poppins'; /* Основной шрифт */
$fontSizeBase: 14px; /* Базовый размер шрифта */

$maxWidth: 1200px; /* Максимальная ширина контейнера */