@charset "UTF-8";
/* Цветовая палитра */
/* Цвет фона */
/* Цвет основного текста */
/* Типография */
/* Основной шрифт */
/* Базовый размер шрифта */
/* Максимальная ширина контейнера */
html {
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #000000;
  font-family: "Poppins";
  background-color: #e1f4f9;
  font-size: 14px;
}

img {
  max-width: 100%;
}

aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

.body-wrapper {
  position: relative;
  height: 100vh;
}

.burger-icon {
  padding: 20px;
}

.side_menu {
  background-color: #FFFFFF;
  width: 250px;
  height: 100vh;
  padding: 20px;
  position: relative;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.side_menu.open {
  transform: translateX(0);
}

.main-title {
  font-size: 26px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9197B3;
  padding: 3px;
}

.nav-link:hover {
  background-color: #5932EA;
  border-radius: 7px;
  color: #FFFFFF;
}

.icon:hover path {
  stroke: #FFFFFF;
  fill: #FFFFFF;
}

.display-flex-gap {
  display: flex;
  align-items: center;
  gap: 6px;
}

.user-card {
  display: flex;
  align-items: center;
  gap: 6px;
  position: absolute;
  bottom: 30px;
}

.bold-text {
  font-weight: bold;
}

.sm-text {
  font-size: 12px;
  color: #9197B3;
}

.customers {
  position: absolute;
  top: 10%;
  left: 30%;
}

.customers-wrapper {
  margin-top: 50px;
  background-color: #FFFFFF;
  padding: 16px;
  border-radius: 20px;
  width: 800px;
}

.customers_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
  margin-bottom: 40px;
}

.input-with-icon {
  background: url(./img/search.svg) no-repeat 7px center;
  outline: none;
  border: none;
  background-color: #e1f4f9;
  padding: 7px;
  border-radius: 7px;
  padding-left: 32px;
}

.green {
  color: rgb(119, 168, 119);
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

thead, tr {
  border-bottom: 1px solid black;
}

thead th:nth-child(1) {
  width: 17%;
}

thead th:nth-child(2) {
  width: 16%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 31%;
}

thead th:nth-child(5) {
  width: 15%;
}

thead th:nth-child(6) {
  width: 6%;
}

th {
  padding-bottom: 15px;
}

.table-headers {
  color: #9197B3;
  font-size: 11px;
  border-bottom: 1px solid black;
}

.table-headers th {
  font-weight: 400;
  text-align: start;
}

.table-body {
  border-top: 1px solid #9197B3;
}

.table-row td {
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.customers-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.customers-bottom p {
  font-size: 12px;
  color: #9197B3;
}

.pagination {
  display: flex;
  gap: 6px;
}

#pageNumbers {
  display: flex;
  gap: 6px;
}

.page {
  width: 16px;
  height: 16px;
  font-size: 10px;
  border-radius: 2px;
  border: none;
}

.active {
  background-color: #5932EA;
  border: none;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */